<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vertical Tank Maintenance</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div id="main" class="container p-3 my-3 bg-dark text-white">
			<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
				<ul class="navbar-nav mr-auto">
					<li id="nav1" class="nav-item"><a href="/" class="nav-link">Home</a></li>
					<li id="nav2" class="nav-item"><a href="/about" class="nav-link">About</a></li>
					<li id="nav3" class="nav-item"><a href="/estimate" class="nav-link">Estimate</a></li>
				</ul>
			</nav>
			<div class="row">
				<div id="content" class="col-lg">
				    <form id="estimateForm" action="estimate" method="POST">
						<h3>Get Estimate</h3>
						<label for="radius">Radius:</label>
					    <input type="text" id="radius" name="radius"><br><br>
					    <label for="height">Height:</label>
					    <input type="text" id="height" name="height"><br><br>
					    <button type="submit">Submit</button>
					</form>
				    {% if (gotEstimate) %}
				    <p> Your estimate is: ${{est}}</p>
				    {% endif %}
				    {% if (error) %}
				    <p>{{error}}</p>
				    {% endif %}
				</div>
			</div>
			<footer id="footer">&copy; VTM 2020</footer>
		</div>
	</body>
	<script></script>
</html>