<!DOCTYPE html>
<html>
	<head>
		<title>Vertical Tank Maintenance</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div id="main" class="test">
			<nav id="navigation">
				<ul>
					<li id="nav1"><a href="/">Home</a></li>
					<li id="nav2"><a href="/about">About</a></li>
					<li id="nav3"><a href="/estimate">Estimate</a></li>
				</ul>
			</nav>
			<div id="content">
			    <form id="estimateForm" action="estimate" method="POST">
					<h3>Get Estimate</h3>
					<label for="radius">Radius:</label>
				    <input type="text" id="radius" name="radius"><br><br>
				    <label for="height">Height:</label>
				    <input type="text" id="height" name="height"><br><br>
				    <button type="submit">Submit</button>
				</form>
			    {% if (gotEstimate) %}
			    <p> Your estimate is: ${{est}}</p>
			    {% endif %}
			    {% if (error) %}
			    <p>{{error}}</p>
			    {% endif %}
			</div>
		</div>
		<footer id="footer">&copy; VTM 2020</footer>
	</body>
	<script></script>
</html>